* text=auto

*.h text eol=lf
*.cpp text eol=lf
*.cs text eol=lf
*.uplugin text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.json text eol=lf

*.uasset binary
*.umap binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
